* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Spark";
  src: url(../fonts/Spark-font.tiff);
}

body {
  font-size: 3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #FFDEB4;
}

/* .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 54, 54);
  color: whitesmoke;
}

.nav-bar .logo {
  font-size: 2rem;
  margin: 0.75rem;
}

.nav-bar-list {
  display: flex;
  font-size: 1rem;
  list-style-type: none;
}

.nav-bar-list-items {
  color: whitesmoke;
  padding: 1rem;
  transition: 0.2s;
  display: block;
}

.cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: whitesmoke;
  transition: 0.1s ease-out;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  pointer-events: none;
  display: none;
}

.nav-bar-list li:hover ~ .cursor {
  display: block;
  transform: scale(3);
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
} */

.home-magazine {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 10rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.heading-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heading-text .heading-text-1 {
  font-size: 4rem;
  justify-items: center;
  align-self: center;
  font-family: Spark;
}

.heading-text .heading-text-2 {
  display: flex;
  flex-direction: column;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 1rem;
}

.heading-text .heading-text-2 > div {
  margin-left: 0.3rem;
  width: 0.4rem;
  height: 3.3rem;
  background-color: rgb(240, 159, 105);
  align-self: flex-start;
  border-radius: 3px;
}

.home-container .date {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: grey;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.image-container .text-container {
  height: 33.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1rem;
}

.image-container .text-container-1 {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
}

.image-container .color-block-1 {
  margin: 2rem 0rem;
  height: 0.9rem;
  width: 5.3rem;
  background-color: rgb(240, 159, 105);
  align-self: flex-start;
  border-radius: 3px;
}

.image-container .text-container-2s {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
}

.image-containing {
  width: 30rem;
  height: 35.6rem;
  background: no-repeat url(../Radha.webp);
  background-size: cover;
}

@media (max-width: 800px) {
  .home-magazine {
    padding: 0rem 1rem;
  }
  /* .toggle-button {
    display: flex;
  }
  .nav-bar .nav-bar-list {
    display: none;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }
  .nav-bar-list {
    background-color: rgb(56, 54, 54);
    position: absolute;
    top: 4rem;
    width: 100%;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .nav-bar-list-items {
    padding-bottom: 3rem;
    overflow-y: hidden;
  }
  .nav-bar-list.active {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  } */
  .image-containing {
    left: 0rem;
  }
  .image-container {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=index.css.map */